page-page1 {
    video {
        width: calc(100% - 5px);
        height: 30%;
    }
    canvas {
        width: calc(100% - 5px);
        height: 30%;
    }
    ion-icon {
        font-size: 2.4em;
    }
}
<<<<<<< HEAD
>>>>>>> 0fa23c6... first commit
=======

>>>>>>> 926c7f0... Correct
